<?xml version="1.0" ?>
<!--
/**
 * Copyright © Dtech, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Catalog\Ui\Component\Listing\Columns\ProductActions">
		<plugin disabled="false" name="Dtech_ProductPreview_Plugin_Magento_Catalog_Ui_Component_Listing_Columns_ProductActions" sortOrder="10" type="Dtech\ProductPreview\Plugin\Magento\Catalog\Ui\Component\Listing\Columns\ProductActions"/>
	</type>
</config>
